1.md
[{"id":"fc63878e.ccbb18","type":"tab","label":"Flow 1"},{"id":"48601f10.302c9","type":"tab","label":"Flow 2"},{"id":"d3f4853d.2f76f","type":"tab","label":"Flow 3"},{"id":"7d23f4ab.ea63fc","type":"mqtt-broker","z":"","broker":"10.20.92.51","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ab8442cf.7cdd9","type":"mqtt in","z":"fc63878e.ccbb18","name":"","topic":"fiap/902/professor/json","qos":"0","broker":"7d23f4ab.ea63fc","x":158,"y":100,"wires":[["713ec704.848e08"]]},{"id":"713ec704.848e08","type":"debug","z":"fc63878e.ccbb18","name":"","active":true,"console":"false","complete":"false","x":390,"y":114,"wires":[]},{"id":"5cf1e355.99f5ec","type":"mqtt in","z":"fc63878e.ccbb18","name":"","topic":"fiap/902/professor/json","qos":"2","broker":"7d23f4ab.ea63fc","x":214,"y":352,"wires":[[]]},{"id":"588c3bad.65ac24","type":"http response","z":"fc63878e.ccbb18","name":"","x":488,"y":334,"wires":[]},{"id":"c5a7b0a6.1c50c","type":"http in","z":"48601f10.302c9","name":"","url":"/info/professor","method":"get","swaggerDoc":"","x":159,"y":382,"wires":[["6b0d274d.d1d688"]]},{"id":"1a8327d9.98f1f8","type":"change","z":"48601f10.302c9","name":"","rules":[{"t":"set","p":"nota","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":431,"y":668,"wires":[[]]},{"id":"6202ca34.52ce94","type":"mqtt in","z":"48601f10.302c9","name":"","topic":"fiap/902/professor/json","qos":"0","broker":"7d23f4ab.ea63fc","x":181,"y":619,"wires":[["1a8327d9.98f1f8"]]},{"id":"3dce56.0c46b1aa","type":"http response","z":"48601f10.302c9","name":"","x":580,"y":384,"wires":[]},{"id":"6b0d274d.d1d688","type":"change","z":"48601f10.302c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"nota","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":388,"y":437,"wires":[["3dce56.0c46b1aa"]]},{"id":"e41fc6ea.eadda8","type":"http in","z":"48601f10.302c9","name":"","url":"10.20.92.51:1880/alunos","method":"get","swaggerDoc":"","x":180,"y":85,"wires":[["27ac0d24.6ccf62","e5705d10.31f1"]]},{"id":"27ac0d24.6ccf62","type":"mqtt out","z":"48601f10.302c9","name":"","topic":"fiap/902/13/json","qos":"","retain":"","broker":"7d23f4ab.ea63fc","x":578,"y":115,"wires":[]},{"id":"750a267a.8b3cd8","type":"debug","z":"48601f10.302c9","name":"","active":true,"console":"false","complete":"false","x":null,"y":null,"wires":[]},{"id":"e5705d10.31f1","type":"debug","z":"48601f10.302c9","name":"","active":true,"console":"false","complete":"false","x":375,"y":168,"wires":[]},{"id":"42fce411.af4e1c","type":"http request","z":"d3f4853d.2f76f","name":"","method":"GET","ret":"txt","url":"10.20.92.51:1880/alunos","tls":"","x":198.5,"y":188,"wires":[["5cf73526.331254"]]},{"id":"5cf73526.331254","type":"mqtt out","z":"d3f4853d.2f76f","name":"","topic":"fiap/902/2018/json","qos":"","retain":"","broker":"7d23f4ab.ea63fc","x":500.5,"y":206,"wires":[]},{"id":"20abad5f.3a68fa","type":"inject","z":"d3f4853d.2f76f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98.5,"y":50,"wires":[["42fce411.af4e1c"]]}]
