2.md
[{"id":"6d4705f5.f27b4c","type":"tab","label":"Flow 2"},{"id":"4be9f1b5.eff508","type":"mqtt-broker","z":"","broker":"10.20.92.13","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6c341b91.809cd4","type":"mqtt-broker","z":"","broker":"10.20.92.51:1880/info/professor","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"76285907.8c5ed8","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"c2337d61.e3a2e","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"87584653.11e4e","type":"mqtt-broker","z":"","broker":"10.20.92.51","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"221e50f1.bb9fd8","type":"mqtt-broker","z":"","broker":"","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"b4065ee6.71b388","type":"mqtt-broker","z":"","broker":"10.20.92.51","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"36cd28af.9e6e","type":"mqtt-broker","z":"","broker":"10.20.92.51","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c427134a.000a8","type":"mqtt-broker","z":"","broker":"10.20.92.51","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"235b0b31.b176d4","type":"http in","z":"6d4705f5.f27b4c","name":"","url":"/info/professor","method":"get","swaggerDoc":"","x":127,"y":407,"wires":[["df2b829b.44783"]]},{"id":"100c6edd.b97649","type":"change","z":"6d4705f5.f27b4c","name":"","rules":[{"t":"set","p":"professor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":393,"y":253,"wires":[[]]},{"id":"342068be.1e6e08","type":"http response","z":"6d4705f5.f27b4c","name":"","x":583,"y":415,"wires":[]},{"id":"4f9bb791.0894c","type":"mqtt in","z":"6d4705f5.f27b4c","name":"","topic":"fiap/902/professor/json","qos":"0","broker":"36cd28af.9e6e","x":328,"y":62,"wires":[["100c6edd.b97649"]]},{"id":"df2b829b.44783","type":"change","z":"6d4705f5.f27b4c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"professor","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":358.5,"y":404,"wires":[["342068be.1e6e08"]]}]
